doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link( href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Lato" rel="stylesheet")
    link(rel="stylesheet" href="/css/index.css")
    title svg online darts
  body

    - var points = [20,1,18,4,13,6,10,15,2,17,3,19,7,16,8,11,14,9,12,5]



    .caution only support chrome browser and min width 980px in pc

    .contents
      .main
        .darts
          svg(viewbox='0 0 63.6619772368 63.6619772368')
            - for (var i = 0; i < 20; ++i) {
            circle(class='board board_#{i}' data-point='#{points[i]}' data-magnification='single')
            - }

            - for (var i = 0; i < 20; ++i) {
            circle(class='board board_#{i} board_double' data-point='#{points[i]}' data-magnification='double')
            - }

            - for (var i = 0; i < 20; ++i) {
            circle(class='board board_#{i} board_triple' data-point='#{points[i]}' data-magnification='triple')
            - }

            circle.board.board_bull(data-point='50' data-magnification='1')
            circle.board.board_inBullFrame
            circle.board.board_inBull(data-point='50' data-magnification='1')

      .side
        .title GAME
          span.title-game.js-title 01

        .sideBox
          .subTitle LOG
          div.log.js-log hogehoge


        .sideBox
          .subTitle HISTORY
          div.history.js-history hogehoge
